.add-order form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-order form input{
    width: 70%;
    margin-bottom: 10px;
    padding:10px;
}
.add-order form textarea{
    width:70%;
    margin-bottom: 10px;
    padding: 8px;
}


.BUTTON-Booking{
    background-color: #6a1b9a;
    padding: 13px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    width: 80%;
   

}
